.btn {
    padding: 1rem 5.6rem;
    background-color: $purple;
    color: $blac;
    font-size: 2rem;
    border-radius: 50px;
    border: none;
    display: block;
    margin: 4rem auto;

	transition: all .3s ease-in-out;
    &:hover {
        cursor: pointer;
        background-color: $purple-alt;
    }
}
